@{
    ViewBag.Title = "Index";
}

<form>
	Country:<select id="country"><option value=''>Select</option></select>
	City:<select id="city" disabled="disabled"><option value=''>Select</option></select>
	Suburb:<select id="suburb" disabled="disabled"><option value=''>Select</option></select>
</form>
